<div class="modal fade" id="loading" role="dialog" data-backdrop="static" tabindex="-1" aria-hidden="true" aria-labelledby="Loading">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Loading Messages...</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">Loading Messages!</span>
                </div>
            </div>   
            </div>
        </div>
    </div>
</div>

<div>        
    <div class="panel panel-default" id="messages-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Chat Messages:</h3>
        </div>
    <div class="panel-body">
        <ul class="list-group" style="overflow-y: auto; height:400px;">
            <li class="list-group-item" ng-repeat="msg in messages">
                <p>{{ msg.time }} - {{ msg.name }} Wrote:</p>
                <p>{{ msg.text }}</p>
            </li>
        </ul>
        </div>
</div>
    <div class="panel panel-default" id="chatControls">
        <div class="panel-body">
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="name">
            </div>

            <div class="form-group">
                <label for="message" class="control-label">Message</label>
                <textarea id="message" class="form-control" rows="3" placeholder="Type your message here" ng-model="message"></textarea>
            </div>
            <div class="btn-group">
                <button class="btn btn-success" ng-click="send()">Send</button>
                <button type="button" class="btn btn-warning" ng-click="clearMessage()">Clear Message</button>
            </div>
        </div>
    </div>
</div>
